<template>
  <div class="bookitems">
    <div class="item" v-for="book in bookSource" :key="book.title">
      <b-card
        :title="book.title"
        :img-src="book.image"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <!-- <b-card-text v-if="book.subtitle !== null">
          {{ book.subtitle }}
        </b-card-text> -->

       <nuxt-link :to="`/books/${book.title}`">
             <b-button>View Details</b-button>
       </nuxt-link>
      </b-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    bookSource: {
      type: [Array, Object]
    }
  },
  computed: {
    ...mapState(["books"])
  }
};
</script>

<style lang="scss" scoped></style>
