<template>
  <div>
    <section>
      <h2>Fiction</h2>
        <AppBooks :bookSource="fiction" />
    </section>
    <hr />
    <section>
      <h2>Non-Fiction</h2>
      <AppBooks :bookSource="nonfiction" />
     
    </section>
    <hr />
    <section>
      <h2>Spirituality</h2>
      <AppBooks :bookSource="learning" />
     
    </section>
  </div>
</template>

<script>
import AppBooks from '../components/AppBooks.vue'
import { mapState } from "vuex";

export default {
  components: {
    AppBooks,
  },
  props: {
    categories: {
      type: Array,
      default: () => ["non-fiction", "fiction", "spirituality"]
    }
  },
  computed: {
    ...mapState(["booksData"]),
    fiction() {
      return this.booksData.filter(
        book => book.get_category_name === "fiction"
      );
    },
    learning() {
      return this.booksData.filter(
        book => book.get_category_name === "spirituality"
      );
    },
    nonfiction() {
      return this.booksData.filter(
        book => book.get_category_name === "non-fiction"
      );
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped></style>
