<template>
    <footer>
       
        <span>Made with &#9829;</span>
         <span>Copyright -2021 @ JMbugua</span>
    </footer>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

</style>