<template>
    <nav>
        <ul>
           <li>
               <nuxt-link to="/">home</nuxt-link>
           </li>
           <!-- <li>
              <nuxt-link to="#">shop</nuxt-link>
           </li> -->
        </ul>
        <div v-if="totalItems" class="smallnum">{{ totalItems }}</div>
        <nuxt-link to="/cart">cart</nuxt-link>
    </nav>
</template>

<script>
import { mapGetters } from 'vuex'
  export default {
    computed: {
        ...mapGetters(['totalItems'])
    }
  }
</script>

<style lang="scss" scoped>

</style>