body, button, input, select,textarea{
  font-family: 'Inknut Antiqua', serif;
}

nav {
  padding: 1em 2em;
  background-color: #082c40;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: wheat;
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
      padding-right: 40px;
    } 
  }
}
.content{
  min-height: calc(100vh - 70px);
}
footer{
  background-color: #082c40;
  color: white;
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bookitems{
  display: flex;
  flex-wrap: wrap;

  .card{
    border: none;
  }

  .item{
    width: 20rem;
    margin: 1.5em;
  }
  img{
    max-height: 15rem;
    object-fit: contain;
  }
  .card-body{
    margin: 0 auto;
  }
}
input[type="number"]{
  width: 4em;
  border: 2px solid black;
}


.toastr {
  background: #1572a5;
  color: white;
  border-radius: 3px;
  padding: 12px 24px;
  position: absolute;
  top: 12%;
  right: 5%;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

// table styles

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 40px 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.cart {
  padding: 100px;
  max-width: 80%;
  margin: 0 auto;


  h2 {
    text-align: center;
  }

  .total {
    font-weight: bold;
  }
}
.smallnum {
  position: absolute;
  border-radius: 1000px;
  background: white;
  color: black;
  top: 10%;
  right: 20px;
  width: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 10px;
  padding: 10px;
  font-weight: bold;
}
.remove{
border-radius: 1000px;
background-color: brown;
border: none;

}
