<template>
  <div>

     <div class="content">
      <AppNav />
      <Nuxt />
     </div>
      <AppFooter />
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';
import AppNav from '@/components/AppNav.vue';
import AppFooter from '@/components/AppFooter.vue';

export default {
  components: {
    AppHeader,
    AppNav,
    AppFooter
  },
};
</script>

<style lang="scss" scoped>

</style>