<template>
  <div class="container cart">
      <h1>My cart</h1>
    <AppToast v-if="totalItems === 0" style="right: 70%; top: 50%">
        <p>Your cart is empty!</p>
        <p>
          <nuxt-link to="/">Select a book</nuxt-link>
        </p>
    </AppToast>
  
      <table v-else>
          <thead>
              <tr>
                  <th>item</th>
                  <th>copies</th>
                  <th>total price</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in cart" :key="item.id">
                <td>{{ item.title }}</td>
               
                <td>
                  <span>{{ item.count }}</span>
                </td>
                <td>
                  <span>{{ item.price }}/-</span>
                </td>
              </tr>
              <tr>
                  <td colspan="2"></td>
                  <td class="total">Total(Ksh): {{ totalCost }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import AppToast from '@/components/AppToast.vue'
  export default {
    components: {
      AppToast
    },
    computed: {
      ...mapState(['cart']),
      ...mapGetters(['totalItems', 'totalCost'])
    },
    methods: {
      removeItem(item){
        this.$store.commit('removeItem', item)
      }
    }
    
  }
</script>

<style lang="scss" scoped>

</style>