<template>
  <main>
      <AppHeader />
      <AppBooksinfo />
  </main>
    
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';
import AppNav from '@/components/AppNav.vue';
import AppBooksinfo from '@/components/AppBooksinfo.vue';

export default {
  components: {
    AppHeader,
    AppNav,
    AppBooksinfo
  },
};
</script>
