<template>
  <div>
    <div class="parent">
      <br />
      <section
        :style="`background: url(${currentBook.image}) no-repeat center center`"
        class="image div1"
      ></section>
      <section class="div2">
        <AppToast v-if="cartSubmitted === true">
            Order submitted!
        </AppToast>
        <h1>
          {{ currentBook.title }}
          <span v-if="currentBook.subtitle"
            >: <small>{{ currentBook.subtitle }}</small></span
          >
        </h1>

        <fieldset>
          <legend>Description:</legend>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            minima natus consectetur necessitatibus doloribus, mollitia quasi
            porro. Officiis, fugiat culpa?
          </p>
          <div>
            <input type="number" min="1" v-model="count">
            <b-button @click="addToCart">Add To Cart: {{ totalPrice}}/-</b-button>
          </div>
        </fieldset>
      </section>
      <section class="div3">
        <h3 class="text-center">Similar Books</h3>
        <AppBooks :bookSource="similarBooks" />
      </section>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AppBooks from "@/components/AppBooks.vue";
import AppToast from "@/components/AppToast.vue";

export default {
  components: {
    AppBooks,
    AppToast
  },
  data() {
    return {
      title: this.$route.params.title,
      count: 1,
      cartSubmitted: false,
    };
  },
  computed: {
    ...mapState(["booksData"]),

    currentBook() {
      let result;
      for (let i = 0; i < this.booksData.length; i++) {
        if (this.booksData[i].title === this.title) {
          result = this.booksData[i];
          break;
        }
      }
      return result;
    },
    similarBooks() {
      return this.booksData.filter(book => {
        return (
          book.get_category_name === this.currentBook.get_category_name &&
          book.title !== this.currentBook.title
        );
      });
    },
    totalPrice(){
      return this.currentBook.price * this.count
    }
  },
  methods: {
    addToCart(){
      let formOutput = {
        title: this.currentBook.title,
        count: this.count,
        price: this.totalPrice
      }
      this.cartSubmitted = true;
      this.$store.commit('addToCart', formOutput)
    }
  }
};
</script>

<style lang="scss" scoped>
.parent {
  width: 100vw;
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  line-height: 2;
}
.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 4 / 3;
}
.div3 {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 auto;
}
</style>
